@page "/send"
@model OneBox.Pages.SendPackageModel

<h1 class="text-center">Nadaj swoją paczkę!</h1>
<br />
<form method="post" class="form-group" enctype="multipart/form-data">
    <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile01" asp-for="Upload">
        <label class="custom-file-label" for="inputGroupFile01">
            @if (Model.Upload != null)
            {
                @Model.Upload.FileName
            } else
            {
                <a>Wskaż plik</a>
            }
        </label>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Nadaj przesyłkę</button>
</form>

<br />

@if (Model.ShowResult)
{
    <table class="table table-bordered table-success">
        <tbody>
            <tr>
                <th scope="row" style="@(Model.PackageId == 1 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 2 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 3 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 4 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 5 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 6 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 7 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 8 ? "background-color: yellow" : "")"></th>
            </tr>
            <tr>
                <th scope="row" style="@(Model.PackageId == 9 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 10 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 11 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 12 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 13 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 14 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 15 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 16 ? "background-color: yellow" : "")"></th>
            </tr>
            <tr>
                <th scope="row" style="@(Model.PackageId == 17 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 18 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 19 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 20 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 21 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 22 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 23 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 24 ? "background-color: yellow" : "")"></th>
            </tr>
            <tr>
                <th scope="row" style="@(Model.PackageId == 25 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 26 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 27 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 28 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 29 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 30 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 31 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 32 ? "background-color: yellow" : "")"></th>
            </tr>
            <tr>
                <th scope="row" style="@(Model.PackageId == 33 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 34 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 35 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 36 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 37 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 38 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 39 ? "background-color: yellow" : "")"></th>
                <th scope="row" style="@(Model.PackageId == 40 ? "background-color: yellow" : "")"></th>
            </tr>
        </tbody>
    </table>

    <h3 class="text-center" style="color:green">Umieść swoją paczkę w skrytce Nr: @Model.PackageId</h3>

}
@if (Model.ShowError)
{
    <h3 class="text-center" style="color:red">Nie znaleziono paczki! Spróbuj ponownie.</h3>
}
